:root {
  --branding-color: #118a7e;
  --primary-color: #93e4c1;
  --secondary-colour: #3baea0;
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font);
  background: radial-gradient(
    circle at 10% 20%,
    rgb(116, 203, 199) 0%,
    rgb(220, 246, 200) 90%
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: normal;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}
p {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  text-align: center;
  padding: 80px 20px 50px 20px;
}

.hero p {
  font-size: 36px;
  margin: 0;
}
.hero h2 {
  font-family: var(--default-font);
  font-weight: normal;
  font-size: 24px;
  padding-top: 10px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 12px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 12px;
  padding: 15px 30px;
}

.project-description {
  padding: 100px 60px;
}

.content-container {
  padding: 50px 60px;
}
.contact-container {
  text-align: center;
  padding: 100px 60px;
}
.content h1 {
  font-size: 50px;
}

.contact h1 {
  font-size: 50px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font);
}
.content h3 {
  font-size: 24px;
  font-family: var(--default-font);
  line-height: 1.5;
}

.contact h3 {
  font-size: 35px;
}
.content p {
  margin: 0;
  font-size: 14px;
}
.contact p {
  font-size: 24px;
}
.content {
  margin: 10px 30px;
}

nav {
  color: white;
  background: var(--branding-color);
}

img {
  border: solid;
  border-color: var(--secondary-colour);
  border-radius: 5px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
    text-align: center;
  }
  h2 {
    font-size: 44px;
    margin-bottom: 10px;
  }
  .hero {
    padding: 10px 10px;
  }
  .hero p {
    font-size: 25px;
    margin: 0;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  .content p {
    font-size: 20px;
  }
  .contact p {
    font-size: 20px;
  }
  .contact h3 {
    font-size: 30px;
  }
}
